* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    background-color: #1E1E20;
    color: #B0A580;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

header {
    text-align: center;   
}

h1 {
    font-family: 'Expletus Sans', cursive;
    color: #D9CB9E;
    font-size: 40px;
}

h2 {
    font-family: 'Expletus Sans', cursive;
    color: #D9CB9E;
    font-size: 30px;
}

p {
    
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
}

/* Sections */
#about {
    height: 1200px;
}

#portfolio {
    height: 1200px;
}

#contact {
    height: 1200px;
}

/* Sticky Footer */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
