* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EAEAEA;
  color: #1E1E20;
  font: "Hind", sans-serif 300;
  font-size: 16px;
  overflow-x: hidden; }

h1 {
  font: "Heebo", sans-serif 500;
  color: #F43D16;
  font-size: 10vh; }

h2 {
  font: "Heebo", sans-serif 400;
  color: #C13F1C;
  font-size: 3vh;
  text-transform: uppercase;
  text-align: center; }

h2.left {
  text-align: left; }

h2.right {
  text-align: right; }

h3 {
  border-style: inset;
  border-color: #151515;
  border-width: 0px 0px 2px 0px;
  font-size: 28px;
  line-height: 50px; }

p {
  font: "Hind", sans-serif 300;
  font-size: 18px; }

br {
  margin-bottom: 15px; }

a {
  text-decoration: none;
  color: #A11F00;
  font-style: italic; }

a:hover {
  text-decoration: none;
  color: #C13F1C; }

button {
  font-style: normal;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px; }

button:hover {
  border-radius: 0px; }

/* Navigation */
.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #151515;
  border-style: solid;
  border-color: #C13F1C;
  border-width: 0px 0px 2px 0px; }

.navbar a {
  font-style: normal; }

.navbar h1 {
  display: inline;
  font-size: 32px;
  text-align: left;
  text-transform: none;
  line-height: 32px;
  letter-spacing: 2px;
  margin-right: 5px; }

.navbar h2 {
  display: block;
  font-size: 14px;
  text-align: left;
  text-transform: none;
  letter-spacing: -0.75px;
  color: #EAEAEA;
  max-width: 70vw; }

.navbar .pconly {
  display: inline; }

.navbar .mobileonly {
  display: none; }

.navbar #navtitle img {
  display: inline;
  height: 30px;
  margin: 0px 5px;
  position: relative;
  top: -5px; }

.navbar #navmenu {
  width: 100%;
  max-width: 550px; }

.navbar .dd-button {
  position: fixed;
  z-index: 1;
  right: 20px;
  top: 12px;
  max-height: 50px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.navbar .dd-content {
  display: none;
  position: fixed;
  background-color: #151515;
  width: 200px;
  max-width: 100%;
  right: 0px;
  top: 74px; }

.navbar .dd-content a {
  display: block;
  text-align: center;
  padding: 12px 16px;
  color: #e1e1df;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-style: solid;
  border-color: #2f2f2f;
  border-width: 1px 0px; }

.navbar .dd-content a:hover {
  color: #F43D16;
  background-color: #2f2f2f; }

.navbar button {
  display: inline;
  min-width: 75px;
  width: 8vw;
  max-width: 100px;
  height: 4vw;
  min-height: 30px;
  max-height: 70px;
  background-color: #151515;
  color: #e1e1df;
  padding: 5px 10px;
  font-size: 18px;
  border-width: 0px 1px;
  border-color: #37373a;
  outline: none; }

.navbar button:hover {
  color: #F43D16;
  border-style: solid; }

/* Sections */
.section .container {
  padding: 1vh 0vh; }

.section .container-fluid {
  padding: 1vh 1vh; }

.sectionborder {
  border-style: inset;
  border-color: #626262;
  border-width: 0px 0px 1px 0px; }

.section h2 {
  font-size: 30px;
  line-height: 50px;
  margin-top: 2vh;
  margin-bottom: 2vh; }

.section button {
  display: inline-block;
  min-width: 200px;
  max-height: 50px;
  background-color: #1E1E20;
  color: #EAEAEA;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  margin: 1vh 0vh 3vh 0vh; }

.section button:hover {
  background-color: #1E1E20;
  color: #EAEAEA; }

/* Top Section */
#top {
  min-height: 70px; }

/* Portfolio Section */
#portfolio .item {
  width: 300px;
  height: 270px;
  display: inline-block;
  margin: 5px 5px 2vh 5px;
  color: #1E1E20;
  padding: 5px; }

#portfolio .item .title {
  display: inline-block;
  font-size: 20px;
  font: "Heebo", sans-serif 500;
  font-weight: bolder;
  text-transform: none;
  color: #1E1E20;
  width: 100%;
  border-style: inset;
  border-color: #151515;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 5px; }

#portfolio .item img {
  width: 288px;
  height: 160px;
  object-fit: cover;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

#portfolio .item img:hover {
  filter: brightness(125%);
  -webkit-filter: brightness(125%);
  transform: scale(1.05); }

#portfolio .item .desc {
  display: inline;
  font-size: 14px;
  min-height: 60px;
  max-height: 60px; }

#portfolio .item .desc .tags {
  display: inline;
  text-transform: uppercase;
  font-size: 12px;
  color: #C13F1C;
  margin-right: 5px; }

/* About Section */
#about img {
  display: block;
  position: relative;
  max-width: 250px;
  width: 95%; }

#about p {
  padding: 0px 10px;
  text-align: left; }

#about button {
  display: block;
  position: relative;
  width: 95%;
  max-width: 250px;
  min-width: 50px; }

/* Skills Section */
#skills .item {
  background-color: #EAEAEA;
  width: 150px;
  display: inline-block;
  font: "Hind", sans-serif 300;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 1px;
  margin: 0px -3px 20px -3px; }

#skills .left {
  border-style: solid;
  border-width: 0px 1px 0px 0px; }

#skills .right {
  border-style: solid;
  border-width: 0px 0px 0px 1px; }

#skills .single {
  border-style: solid;
  border-width: 0px 0px 0px 0px; }

#skills img {
  width: 100px;
  display: block;
  margin: 25px; }

/* Contact Section */
#contact .col {
  min-height: 42px;
  height: 14vw;
  max-height: 125px; }

#contact img {
  width: 10vw;
  min-width: 35px;
  max-width: 75px;
  margin: 5px 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

#contact img:hover {
  transform: scale(1.2); }

/* Work Info Section */
#workinfo {
  min-height: 90vh; }

#workinfo .header {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; }

#workinfo h2 {
  display: inline-block;
  font-size: 40px;
  font: "Heebo", sans-serif 500;
  font-weight: bolder;
  text-transform: none;
  color: #C13F1C;
  width: 100%;
  border-style: inset;
  border-color: #151515;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 5px; }

/* Footer */
#footer {
  height: 60px;
  z-index: 100;
  border-style: solid;
  border-color: #C13F1C;
  border-width: 2px 0px 0px 0px;
  padding: 10px;
  background-color: #151515; }

#footer h2 {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: #C13F1C; }

/*# sourceMappingURL=styles.css.map */
