// Functions
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@function max($a, $b) {
    $aIno: #{$a};
    $bIno: #{$b};
    $res: calc($aIno - $bIno);
    $bool: unquote("#{$res} > 0");
    @return if($bool, $a, $b);
}

// Variable Declarations
// Colors
$accent1-color: #F43D16;
$accent2-color: #C13F1C;
$main-color: #1E1E20;
$background-color: #EAEAEA;
$link-color: #A11F00;
$link-hover-color: #C13F1C;
// Fonts
$title-font: 'Heebo',
sans-serif 500;
$subtitle-font: 'Heebo',
sans-serif 400;
$main-font: 'Hind',
sans-serif 300;
$em-font-weight: 500;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $main-color;
    font: $main-font;
    font-size: 16px;
    overflow-x: hidden;
}

h1 {
    font: $title-font;
    color: $accent1-color;
    font-size: 10vh;
}

h2 {
    font: $subtitle-font;
    color: $accent2-color;
    font-size: 3vh;
    text-transform: uppercase;
    text-align: center;
}

h2.left {
    text-align: left;
}

h2.right {
    text-align: right;
}

h3 {
    border-style: inset;
    border-color: invert($background-color);
    border-width: 0px 0px 2px 0px;
    font-size: 28px;
    line-height: 50px;
}

p {
    font: $main-font;
    font-size: 18px;
}

br {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: $link-color;
    font-style: italic;
}

a:hover {
    text-decoration: none;
    color: $link-hover-color;
}

button {
    font-style: normal;
    border: none;
    outline: none;
    @include transition(0.3s);
    border-radius: 5px;
}

button:hover {
    border-radius: 0px;
}


/* Navigation */

.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: invert($background-color);
    border-style: solid;
    border-color: $accent2-color;
    border-width: 0px 0px 2px 0px;
}

.navbar a {
    font-style: normal;
}

.navbar h1 {
    display: inline;
    font-size: 32px;
    text-align: left;
    text-transform: none;
    line-height: 32px;
    letter-spacing: 2px;
    margin-right: 5px;
}

.navbar h2 {
    display: block;
    font-size: 14px;
    text-align: left;
    text-transform: none;
    letter-spacing: -0.75px;
    color: $background-color;
    max-width: 70vw;
}

.navbar .pconly {
    display: inline;
}

.navbar .mobileonly {
    display: none;
}

.navbar #navtitle img {
    display: inline;
    height: 30px;
    margin: 0px 5px;
    position: relative;
    top: -5px;
}

.navbar #navmenu {
    width: 100%;
    max-width: 550px;
}

.navbar .dd-button {
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 12px;
    max-height: 50px;
    @include transition(0.3s);
}

.navbar .dd-content {
    display: none;
    position: fixed;
    background-color: invert($background-color);
    width: 200px;
    max-width: 100%;
    right: 0px;
    top: 74px;
}

.navbar .dd-content a {
    display: block;
    text-align: center;
    padding: 12px 16px;
    color: invert($main-color);
    @include transition(0.3s);
    border-style: solid;
    border-color: lighten(invert($background-color), 10%);
    border-width: 1px 0px;
}

.navbar .dd-content a:hover {
    color: $accent1-color;
    background-color: lighten(invert($background-color), 10%);
}

.navbar button {
    display: inline;
    min-width: 75px;
    width: 8vw;
    max-width: 100px;
    height: 4vw;
    min-height: 30px;
    max-height: 70px;
    background-color: invert($background-color);
    color: invert($main-color);
    padding: 5px 10px;
    font-size: 18px;
    border-width: 0px 1px;
    border-color: lighten($main-color, 10);
    outline: none;
}

.navbar button:hover {
    color: $accent1-color;
    border-style: solid;
}


/* Sections */

.section .container {
    padding: 1vh 0vh;
}

.section .container-fluid {
    padding: 1vh 1vh;
}

.sectionborder {
    border-style: inset;
    border-color: lighten(invert($background-color), 30);
    border-width: 0px 0px 1px 0px;
}

.section h2 {
    font-size: 30px;
    line-height: 50px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.section button {
    display: inline-block;
    min-width: 200px;
    max-height: 50px;
    background-color: $main-color;
    color: $background-color;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    margin: 1vh 0vh 3vh 0vh;
}

.section button:hover {
    background-color: $main-color;
    color: $background-color;
}


/* Top Section */

#top {
    min-height: 70px;
}


/* Portfolio Section */

#portfolio .item {
    width: 300px;
    height: 270px;
    display: inline-block;
    margin: 5px 5px 2vh 5px;
    color: $main-color;
    padding: 5px;
}

#portfolio .item .title {
    display: inline-block;
    font-size: 20px;
    font: $title-font;
    font-weight: bolder;
    text-transform: none;
    color: $main-color;
    width: 100%;
    border-style: inset;
    border-color: invert($background-color);
    border-width: 0px 0px 1px 0px;
    margin-bottom: 5px;
}

#portfolio .item img {
    width: 288px;
    height: 160px;
    object-fit: cover;
    @include transition(0.3s);
}

#portfolio .item img:hover {
    filter: brightness(125%);
    -webkit-filter: brightness(125%);
    transform: scale(1.05);
}

#portfolio .item .desc {
    display: inline;
    font-size: 14px;
    min-height: 60px;
    max-height: 60px;
}

#portfolio .item .desc .tags {
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    color: $accent2-color;
    margin-right: 5px;
}


/* About Section */

#about img {
    display: block;
    position: relative;
    max-width: 250px;
    width: 95%;
}

#about p {
    padding: 0px 10px;
    text-align: left;
}

#about button {
    display: block;
    position: relative;
    width: 95%;
    max-width: 250px;
    min-width: 50px;
}


/* Skills Section */

#skills .item {
    background-color: $background-color;
    width: 150px;
    display: inline-block;
    font: $main-font;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: lighten(invert($background-color), 70%);
    border-width: 0px 1px;
    margin: 0px -3px 20px -3px;
}

#skills .left {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

#skills .right {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

#skills .single {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

#skills img {
    width: 100px;
    display: block;
    margin: 25px;
}


/* Contact Section */

#contact .col {
    min-height: 42px;
    height: 14vw;
    max-height: 125px;
}

#contact img {
    width: 10vw;
    min-width: 35px;
    max-width: 75px;
    margin: 5px 5px;
    @include transition(0.3s);
}

#contact img:hover {
    transform: scale(1.2);
}


/* Work Info Section */

#workinfo {
    min-height: 90vh;
}

#workinfo .header {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat
}

#workinfo h2 {
    display: inline-block;
    font-size: 40px;
    font: $title-font;
    font-weight: bolder;
    text-transform: none;
    color: $accent2-color;
    width: 100%;
    border-style: inset;
    border-color: invert($background-color);
    border-width: 0px 0px 1px 0px;
    margin-bottom: 5px;
}


/* Footer */

#footer {
    height: 60px;
    z-index: 100;
    border-style: solid;
    border-color: $accent2-color;
    border-width: 2px 0px 0px 0px;
    padding: 10px;
    background-color: invert($background-color);
}

#footer h2 {
    position: relative;
    font-size: 16px;
    line-height: 32px;
    color: $accent2-color;
}